
@inject LayoutServices service

@{
    Dictionary<string, string> setting = await service.GetSettingsAsync();
}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Citybook -Directory Listing Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="~/css/reset.css">
    <link type="text/css" rel="stylesheet" href="~/css/plugins.css">
    <link type="text/css" rel="stylesheet" href="~/css/style.css">
    <link type="text/css" rel="stylesheet" href="~/css/color.css">
    <link type="text/css" rel="stylesheet" href="~/css/Create.css">

    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="~/images/favicon.ico">
</head>
<body>
    <!--loader-->
    <div class="loader-wrap">
        <div class="pin"></div>
        <div class="pulse"></div>
    </div>
    <!--loader end-->
    <!-- Main  -->
    <div id="main">
        <!-- header-->
        <header class="main-header dark-header fs-header sticky">
            <div class="header-inner">
                <div class="logo-holder">
                    <a asp-action="index" asp-controller="home"><img src="~/images/@setting["Logo"]" alt=""></a>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole(UserRole.BiznesOwner.ToString()))
                    {
                        <a asp-action="create" asp-controller="AddListing" class="add-list">Add Listing <span><i class="fa fa-plus"></i></span></a>
                        <a asp-action="create" asp-controller="AddBlog" class="add-list">Add Blog <span><i class="fa fa-plus"></i></span></a>
                    }

                    if (User.IsInRole(AdminRoles.Admin.ToString()))
                    {
                        <a class="show-reg-form" asp-action="Index" asp-controller="Home" asp-area="Admin">Admin Panel</a>
                    }
                    <a class="show-reg-form" asp-action="LogOut" asp-controller="Account"><i class="fa fa-sign-in"></i>Log Out</a>
                }
                else
                {
                    <a class="show-reg-form" asp-action="Login" asp-controller="Account"><i class="fa fa-sign-in"></i>Sign In</a>


                }

                <!-- nav-button-wrap-->
                <div class="nav-button-wrap color-bg">
                    <div class="nav-button">
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <!-- nav-button-wrap end-->
                <!--  navigation -->
                <div class="nav-holder main-menu">
                    <nav>
                        <ul>
                            <li>
                                <a asp-action="index" asp-controller="home" class="act-link">Home</a>
                                
                            </li>
                            <li>
                                <a asp-action="index" asp-controller="listing">Places </a>
                               
                                
                            </li>
                            <li>
                                <a asp-action="index" asp-controller="blog">News</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a href="#">Pages <i class="fa fa-caret-down"></i></a>

                                    <ul>


                                        <li><a asp-action="edituser" asp-controller="myaccount">My Account</a></li>
                                        @if (User.IsInRole(UserRole.BiznesOwner.ToString()))
                                        {
                                            <li><a asp-action="index" asp-controller="author">User single</a></li>

                                        }







                                    </ul>

                                </li>
                            }
                           
                        </ul>
                    </nav>
                </div>
                <!-- navigation  end -->
            </div>
        </header>
        <!--  header end -->
        @RenderBody()
        <!--footer -->
        <footer class="main-footer dark-footer  ">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-widget fl-wrap">
                            <h3>About Us</h3>
                            <div class="footer-contacts-widget fl-wrap">
                                <p>@setting["About"] </p>
                                <ul class="footer-contacts fl-wrap">
                                    <li><span><i class="@setting["MailLogo"]"></i> Mail :</span><a href="#" target="_blank">@setting["Mail"]</a></li>
                                    <li> <span><i class="@setting["AddressLogo"]"></i> Adress :</span><a href="#" target="_blank">@setting["Address"]</a></li>
                                    <li><span><i class="@setting["PhoneLogo"]"></i> Phone :</span><a href="#">@setting["Phone"]</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @{
                        await Html.RenderPartialAsync("BlogFooter/BlogFooterPartialView", await service.GetBlogsAsync());
                    }
                    <div class="col-md-4">
                        <div class="footer-widget fl-wrap">
                         
                         
                            <div class="footer-widget fl-wrap">
                                <div class="footer-menu fl-wrap">
                                    <ul>
                                        <li><a asp-action="index" asp-controller="home">Home </a></li>
                                        <li><a asp-action="index" asp-controller="blog">Blog</a></li>
                                        <li><a asp-action="index" asp-controller="listing">Listing</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-footer fl-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="about-widget">
                                <img src="~/images/@setting["Logo"]" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="copyright"> &#169; CityBook 2018 .  All rights reserved.</div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-social">
                                <ul>
                                    <li><a href="@setting["Facebook"]" target="_blank"><i class="@setting["FacebookLogo"]"></i></a></li>
                                    <li><a href="@setting["Twit"]" target="_blank"><i class="@setting["TwitLogo"]"></i></a></li>
                                    <li><a href="@setting["Chrome"]" target="_blank"><i class="@setting["ChromeLogo"]"></i></a></li>
                                    <li><a href="@setting["VK"]" target="_blank"><i class="@setting["VKLogo"]"></i></a></li>
                                    <li><a href="@setting["WP"]" target="_blank"><i class="@setting["WPLogo"]"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer end  -->



        <a class="to-top"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwJSRi0zFjDemECmFl9JtRj1FY7TiTRRo&libraries=places&callback=initAutocomplete"></script>
    @RenderSection("DeleteImages",false)
<script>
    console.log("Salam")
        let commentArea = document.querySelector(".textarea");
        let star1 = document.querySelector("#rating-1");
        let star2 = document.querySelector("#rating-2");
        let star3 = document.querySelector("#rating-3");
        let star4 = document.querySelector("#rating-4");
        let star5 = document.querySelector("#rating-5");
        let starcount = 0;

        let commentSubmit = document.querySelector('.commentsubmit')
        commentSubmit.addEventListener("click", function (event) {
            event.preventDefault();
        })
        star1.addEventListener("click", function () {
            starcount = 5;
            console.log("Star Count:", starcount);
        });

        star2.addEventListener("click", function () {
            starcount = 4;
            console.log("Star Count:", starcount);
        });

        star3.addEventListener("click", function () {
            starcount = 3;
            console.log("Star Count:", starcount);
        });

        star4.addEventListener("click", function () {
            starcount = 2;
            console.log("Star Count:", starcount);
        });

        star5.addEventListener("click", function () {
            starcount = 1;
            console.log("Star Count:", starcount);
        });

        let CommentWrapper = document.querySelector(".reviews-comments-wrap")
        let CommentUserName = document.querySelector(".comment-user-name")
        let CommentUserImg = document.querySelector(".add-comment-userimg")
        async function CommentSubmitHandler(button) {
            let id = button.id;
            let comment = commentArea.value;

            try {
                const response = await fetch(`https://localhost:7296/Listing/Review?id=${id}&rating=${starcount}&comment=${comment}`);

                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error('Failed to submit comment:', response.statusText);
                }
            } catch (error) {
                console.error('Fetch error:', error.message);
            }
        }


</script>
</body>
</html>
