@model GetPlaceVM
@{
    int mondayhours = (int)Model.Monday.TotalHours;
    int mondayminutes = (int)Model.Monday.Minutes;
    int mondayhoursto = (int)Model.MondayTo.TotalHours;
    int mondayminutesto = (int)Model.MondayTo.Minutes;
    string formattedTime = $"{mondayhours:D2}:{mondayminutes:D2}";
    string formattedTimeto = $"{mondayhoursto:D2}:{mondayminutesto:D2}";

    int twohours = (int)Model.Tuesday.TotalHours;
    int twominutes = (int)Model.Tuesday.Minutes;
    int twohoursto = (int)Model.TuesdayTo.TotalHours;
    int twominutesto = (int)Model.TuesdayTo.Minutes;
    string two = $"{twohours:D2}:{twominutes:D2}";
    string twoto = $"{twohoursto:D2}:{twominutesto:D2}";

    int threehours = (int)Model.Wednesday.TotalHours;
    int threeminutes = (int)Model.Wednesday.Minutes;
    int threehoursto = (int)Model.WednesdayTo.TotalHours;
    int threeminutesto = (int)Model.WednesdayTo.Minutes;
    string three = $"{threehours:D2}:{threeminutes:D2}";
    string threeto = $"{threehoursto:D2}:{threeminutesto:D2}";

    int fourhours = (int)Model.Thursday.TotalHours;
    int fourminutes = (int)Model.Thursday.Minutes;
    int fourhoursto = (int)Model.ThursdayTo.TotalHours;
    int fourminutesto = (int)Model.ThursdayTo.Minutes;
    string four = $"{fourhours:D2}:{fourminutes:D2}";
    string fourto = $"{fourhoursto:D2}:{fourminutesto:D2}";

    int fivehours = (int)Model.Friday.TotalHours;
    int fiveminutes = (int)Model.Friday.Minutes;
    int fivehoursto = (int)Model.FridayTo.TotalHours;
    int fiveminutesto = (int)Model.FridayTo.Minutes;
    string five = $"{fivehours:D2}:{fiveminutes:D2}";
    string fiveto = $"{fivehoursto:D2}:{fiveminutesto:D2}";

    int sixhours = (int)Model.Saturday.TotalHours;
    int sixminutes = (int)Model.Saturday.Minutes;
    int sixhoursto = (int)Model.SaturdayTo.TotalHours;
    int sixminutesto = (int)Model.SaturdayTo.Minutes;
    string six = $"{sixhours:D2}:{sixminutes:D2}";
    string sixto = $"{sixhoursto:D2}:{sixminutesto:D2}";
}
<!-- wrapper -->
<div id="wrapper">
    <!--  content-->
    <div class="content">
        <!--  carousel-->
        <div class="list-single-carousel-wrap fl-wrap" id="sec1">
            <div class="fw-carousel fl-wrap full-height lightgallery">
                <!-- slick-slide-item -->
                @foreach (var image in Model.PlaceImages)
                {
                    <div class="slick-slide-item">
                        <div class="box-item">
                            <img src="~/images/@image.ImageUrl" alt="">
                            <a href="~/images/all/single/1.jpg" class="gal-link popup-image"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i></div>
            <div class="swiper-button-next sw-btn"><i class="fa fa-long-arrow-right"></i></div>
        </div>
        <!--  carousel  end-->
        <div class="scroll-nav-wrapper fl-wrap">
            <div class="container">
                <nav class="scroll-nav scroll-init">
                    <ul>
                        <li><a class="act-scrlink" href="#sec1">Gallery</a></li>
                        <li><a href="#sec2">Details</a></li>

                        <li><a href="#sec4">Reviews</a></li>
                    </ul>
                </nav>

            </div>
        </div>
        <!--  section   -->
        <section class="gray-section no-top-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <!-- list-single-main-wrapper -->
                        <div class="list-single-main-wrapper fl-wrap" id="sec2">
                            <div class="breadcrumbs gradient-bg  fl-wrap"><a asp-action="index" asp-controller="home">Home</a><a href="#">Place</a><span>Place Detail</span></div>
                            <!-- list-single-header -->
                            <div class="list-single-header list-single-header-inside fl-wrap">
                                <div class="container">
                                    <div class="list-single-header-item">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="list-single-header-item-opt fl-wrap">
                                                    <div class="list-single-header-cat fl-wrap">
                                                        <a asp-action="detail" asp-controller="category" asp-route-id="@Model.Id">@Model.Category.Name</a>
                                                    </div>
                                                </div>
                                                <h2>@Model.Name <span> - Hosted By </span><a href="author-single.html">@Model.User.Name @Model.User.Surname</a> </h2>
                                                <span class="section-separator"></span>
                                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5">
                                                    <span>(@Model.Review.Count reviews)</span>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="fl-wrap list-single-header-column">

                                                    <a class="custom-scroll-link" href="#sec5"><i class="fa fa-hand-o-right"></i>Add Review </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- list-single-header end -->

                            <div class="list-single-main-item fl-wrap">
                                <div class="list-single-main-item-title fl-wrap">
                                    <h3>About @Model.Name </h3>
                                </div>
                                <p> @Model.Description</p>

                                <a href="@Model.Website" class="btn transparent-btn float-btn">Visit Website <i class="fa fa-angle-right"></i></a>
                                <span class="fw-separator"></span>
                                <div class="list-single-main-item-title fl-wrap">
                                    <h3>Features</h3>
                                </div>
                                <div class="listing-features fl-wrap">
                                    <ul>
                                        @foreach (var item in Model.Features)
                                        {
                                            <li><i class="@item.Icon"></i> @item.Name</li>
                                        }
                                        @* <li><i class="fa fa-rocket"></i> Elevator in building</li>
                                        <li><i class="fa fa-wifi"></i> Free Wi Fi</li>
                                        <li><i class="fa fa-motorcycle"></i> Free Parking</li>
                                        <li><i class="fa fa-cloud"></i> Air Conditioned</li>
                                        <li><i class="fa fa-shopping-cart"></i> Online Ordering</li>
                                        <li><i class="fa fa-paw"></i> Pet Friendly</li>
                                        <li><i class="fa fa-tree"></i> Outdoor Seating</li>
                                        <li><i class="fa fa-wheelchair"></i> Wheelchair Friendly</li> *@
                                    </ul>
                                </div>
                                <span class="fw-separator"></span>
                                <div class="list-single-main-item-title fl-wrap">
                                    <h3>Tags</h3>
                                </div>
                                <div class="list-single-tags tags-stylwrap">
                                    @foreach (var item in Model.Tags)
                                    {
                                        <a href="#">@item.Name</a>

                                    }
                                    @* <a href="#">Hotel</a>
                                    <a href="#">Hostel</a>
                                    <a href="#">Room</a>
                                    <a href="#">Spa</a>
                                    <a href="#">Restourant</a>
                                    <a href="#">Parking</a> *@
                                </div>
                            </div>
                            <!-- list-single-main-item-->
                            <!-- list-single-main-item end -->
                            <!-- list-single-main-item -->
                            <div class="list-single-main-item fl-wrap" id="sec4">
                                <div class="list-single-main-item-title fl-wrap">
                                    <h3>Item Revies -  <span> @Model.Review.Count </span></h3>
                                </div>
                                <div class="reviews-comments-wrap">
                                    @foreach (var item in Model.Review)
                                    {
                                        <div class="reviews-comments-item">
                                            <div class="review-comments-avatar">
                                                <img src="~/images/@item.User.Image" alt="@item.User.Name">
                                            </div>
                                            <div class="reviews-comments-item-text">
                                                <h4><a href="#">@item.User.Name @item.User.Surname</a></h4>
                                                <div class="listing-rating card-popup-rainingvis" data-starrating2="@item.RatingStar"> </div>
                                                <div class="clearfix"></div>
                                                <p>" @item.Text"</p>

                                            </div>
                                        </div>
                                    }


                                </div>
                            </div>
                            <!-- list-single-main-item end -->
                            <!-- list-single-main-item -->
                            <form>
                                <div class="list-single-main-item fl-wrap" id="sec5">
                                    <div class="list-single-main-item-title fl-wrap">
                                        <h3>Add Revies  & Rate iteam</h3>
                                    </div>
                                    <!-- Add Review Box -->
                                    <div id="add-review" class="add-review-box">
                                        <div class="leave-rating-wrap">
                                            <span class="leave-rating-title">Your rating  for this listing : </span>
                                            <div class="leave-rating">
                                                <input type="radio" name="rating" id="rating-1"  />
                                                <label for="rating-1" class="fa fa-star-o"></label>
                                                <input type="radio" name="rating" id="rating-2"  />
                                                <label for="rating-2" class="fa fa-star-o"></label>
                                                <input type="radio" name="rating" id="rating-3"  />
                                                <label for="rating-3" class="fa fa-star-o"></label>
                                                <input type="radio" name="rating" id="rating-4"  />
                                                <label for="rating-4" class="fa fa-star-o"></label>
                                                <input type="radio" name="rating" id="rating-5"  />
                                                <label for="rating-5" class="fa fa-star-o"></label>
                                            </div>
                                        </div>
                                        <!-- Review Comment -->
                                        <div class="add-comment custom-form">
                                           
                                            <fieldset>
                                                <textarea class="textarea" cols="40" rows="3" name="comment" placeholder="Your Review:"></textarea>
                                            </fieldset>
                                        </div>
                                        <button onclick="CommentSubmitHandler(this)" id="@Model.Id" class="commentsubmit btn big-btn color-bg flat-btn">Submit Review <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </form>
                            <!-- Add Review Box / End -->
                            <!-- list-single-main-item end -->
                        </div>
                    </div>
                    <!--box-widget-wrap -->
                    <div class="col-md-4">
                        <div class="box-widget-wrap">
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget-item-header">
                                    <h3>Working Hours : </h3>
                                </div>
                                <div class="box-widget opening-hours">
                                    <div class="box-widget-content">
                                        <span class="current-status"><i class="fa fa-clock-o"></i> </span>
                                        <ul>
                                            <li><span class="opening-hours-day">Monday </span><span class="opening-hours-time">@formattedTime - @formattedTimeto</span></li>
                                            <li><span class="opening-hours-day">Tuesday </span><span class="opening-hours-time">@two - @twoto</span></li>
                                            <li><span class="opening-hours-day">Wednesday </span><span class="opening-hours-time">@three - @threeto</span></li>
                                            <li><span class="opening-hours-day">Thursday </span><span class="opening-hours-time">@four - @fourto</span></li>
                                            <li><span class="opening-hours-day">Friday </span><span class="opening-hours-time">@five - @fiveto</span></li>
                                            <li><span class="opening-hours-day">Saturday </span><span class="opening-hours-time">@six - @sixto</span></li>
                                            <li><span class="opening-hours-day">Sunday </span><span class="opening-hours-time">Closed</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget-item-header">
                                    <h3>Book a Reservation: </h3>
                                </div>
                                <div class="box-widget opening-hours">
                                    <div class="box-widget-content">
                                        @Html.Raw(TempData["Reserv"])
                                        <form class="add-comment custom-form" asp-action="AddReservation" asp-controller="Listing" asp-route-id="@Model.Id" asp-route-dayOrMonth="@Model.DayOrMonth" method="post">
                                            <fieldset>
                                                @if (Model.DayOrMonth.Contains(DayOrMonth.Day.ToString()))
                                                {
                                                    <div class="quantity fl-wrap">
                                                        <span><i class="fa fa-user-plus"></i>Persons : </span>
                                                        <div class="quantity-item">
                                                            <input type="button" value="-" class="minus">
                                                            <input type="text" name="persons" title="Qty" class="qty" min="1" max="3" step="1" value="1">
                                                            <input type="button" value="+" class="plus">
                                                        </div>
                                                    </div>
                                                }
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="reservationDate"><i class="fa fa-calendar-check-o"></i>  </label>
                                                        <input placeholder="Date" type="text" name="reservationDate" class="datepicker" data-large-mode="true" data-large-default="true" />
                                                    </div>
                                                    @if (Model.DayOrMonth.Contains(DayOrMonth.Month.ToString()))
                                                    {
                                                        <div class="col-md-6">
                                                            <label for="ReservationDateTo"><i class="fa fa-calendar-check-o"></i>  </label>
                                                            <input placeholder="Date" type="text" name="reservationDateTo" class="datepicker" data-large-mode="true" data-large-default="true" />
                                                        </div>
                                                    }
                                                </div>
                                                <textarea cols="40" rows="3" placeholder="Additional Information:" name="about"></textarea>
                                            </fieldset>
                                            <button type="submit" class="btn big-btn color-bg flat-btn">Book Now<i class="fa fa-angle-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget-item-header">
                                    <h3>Location / Contacts : </h3>
                                </div>
                                <div class="box-widget">
                                    
                                    <div class="box-widget-content">
                                        <div class="list-author-widget-contacts list-item-widget-contacts">
                                            <ul>
                                                <li><span><i class="fa fa-map-marker"></i> Address :</span> <a href="#">@Model.Address</a></li>
                                                <li><span><i class="fa fa-phone"></i> Phone :</span> <a href="#">+@Model.Phone</a></li>
                                                <li><span><i class="fa fa-envelope-o"></i> Mail :</span> <a href="#">@Model.Email</a></li>
                                                <li><span><i class="fa fa-globe"></i> Website :</span> <a href="#">@Model.Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="list-widget-social">
                                            <ul>
                                                <li><a href="@Model.User.Face" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="@Model.User.Tvit" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget-item-header">
                                    <h3>Hosted by : </h3>
                                </div>
                                <div class="box-widget list-author-widget">
                                    <div class="list-author-widget-header shapes-bg-small  color-bg fl-wrap">
                                        <span class="list-author-widget-link"><a asp-action="index" asp-controller="author" asp-route-id="@Model.UserId">@Model.User.Name @Model.User.Surname</a></span>
                                        <img src="~/images/@Model.User.Image" alt="">
                                    </div>
                                    <div class="box-widget-content">
                                        <div class="list-author-widget-text">
                                            <div class="list-author-widget-contacts">
                                                <ul>
                                                    <li><span><i class="fa fa-phone"></i> Phone :</span> <a href="#">@Model.User.Phone</a></li>
                                                    <li><span><i class="fa fa-envelope-o"></i> Mail :</span> <a href="#">@Model.User.Email</a></li>
                                                    <li><span><i class="fa fa-globe"></i> Website :</span> <a href="#">@Model.User.Email</a></li>
                                                </ul>
                                            </div>
                                            <a asp-action="index" asp-controller="author" class="btn transparent-btn">View Profile <i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <!--box-widget-item end -->
                        </div>
                    </div>
                    <!--box-widget-wrap end -->
                </div>
            </div>
        </section>
        <!--  section  end-->
        <div class="limit-box fl-wrap"></div>
        <!--  section   -->
        <!--  section  end-->
    </div>
    <!--  content  end-->
</div>
<!-- wrapper end -->
