@model PaginationVM<ItemPlaceVM>
<!-- wrapper -->
<div id="wrapper">
    <!--  content  -->
    <div class="content">
        <!--  section  -->
        <section class="parallax-section" data-scrollax-parent="true">
            <div class="bg par-elem " data-bg="@Url.Content("~/images/bg/1.jpg")" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay"></div>
            <div class="container">
                <div class="section-title center-align">
                    <h2><span>Listings Without Map</span></h2>
                    <div class="breadcrumbs fl-wrap"><a href="#">Home</a><a href="#">Listings</a><span>Listings Without Map</span></div>
                    <span class="section-separator"></span>
                </div>
            </div>
            <div class="header-sec-link">
                <div class="container"><a href="#sec1" class="custom-scroll-link">Let's Start</a></div>
            </div>
        </section>
        <!--  section  end-->
        <!--  section  -->
        <section class="gray-bg no-pading no-top-padding" id="sec1">
            <div class="col-list-wrap  center-col-list-wrap left-list">
                <div class="container">
                    <div class="listsearch-maiwrap box-inside fl-wrap">
                        <div class="listsearch-header fl-wrap">
                            <h3>Results For : <span>All Listings</span></h3>

                        </div>
                        <!-- listsearch-input-wrap  -->
                        <div class="listsearch-input-wrap fl-wrap">
                            <div class="listsearch-input-item">
                                <i class="mbri-key single-i"></i>
                                <input type="text" placeholder="Keywords?" value="" />
                            </div>
                            <div class="listsearch-input-item">
                                <select data-placeholder="Location" class="chosen-select">
                                    <option>All Locations</option>
                                    <option>Bronx</option>
                                    <option>Brooklyn</option>
                                    <option>Manhattan</option>
                                    <option>Queens</option>
                                    <option>Staten Island</option>
                                </select>
                            </div>
                            <div class="listsearch-input-item">
                                <select data-placeholder="All Categories" class="chosen-select">
                                    <option>All Categories</option>
                                    <option>Shops</option>
                                    <option>Hotels</option>
                                    <option>Restaurants</option>
                                    <option>Fitness</option>
                                    <option>Events</option>
                                </select>
                            </div>
                            <div class="listsearch-input-text" id="autocomplete-container">
                                <label><i class="mbri-map-pin"></i> Enter Addres </label>
                                <input type="text" placeholder="Destination , Area , Street" id="autocomplete-input" class="qodef-archive-places-search" value="" />
                                <a href="#" class="loc-act qodef-archive-current-location"><i class="fa fa-dot-circle-o"></i></a>
                            </div>
                            <!-- hidden-listing-filter -->
                            <div class="hidden-listing-filter fl-wrap">

                                <!-- Checkboxes -->
                                <div class=" fl-wrap filter-tags">
                                    <h4>Filter by Tags</h4>
                                    <div class="filter-tags-wrap">
                                        <input id="check-a" type="checkbox" name="check" checked>
                                        <label for="check-a">Elevator in building</label>
                                    </div>
                                    <div class="filter-tags-wrap">
                                        <input id="check-b" type="checkbox" name="check">
                                        <label for="check-b">Friendly workspace</label>
                                    </div>
                                    <div class="filter-tags-wrap">
                                        <input id="check-c" type="checkbox" name="check">
                                        <label for="check-c">Instant Book</label>
                                    </div>
                                    <div class="filter-tags-wrap">
                                        <input id="check-d" type="checkbox" name="check">
                                        <label for="check-d">Wireless Internet</label>
                                    </div>
                                </div>
                            </div>
                            <!-- hidden-listing-filter end -->
                            <button class="button fs-map-btn">Update</button>
                            <div class="more-filter-option">More Filters <span></span></div>
                        </div>
                        <!-- listsearch-input-wrap end -->
                    </div>
                    <!-- list-main-wrap-->
                    <div class="list-main-wrap fl-wrap card-listing">
                        @foreach (var item in Model.Items)
                        {
                            int rating = 0;
                            foreach (var review in item.Review)
                            {
                                rating += review.RatingStar;
                            }
                            
                            <div class="listing-item">
                                <article class="geodir-category-listing fl-wrap">
                                    <div class="geodir-category-img">
                                        <img src="~/images/@item.PlaceImages.FirstOrDefault()?.ImageUrl" alt="">
                                        <div class="overlay"></div>

                                    </div>
                                    <div class="geodir-category-content fl-wrap">
                                        <a class="listing-geodir-category" asp-action="detail" asp-controller="category" asp-route-id="@item.Id">@item.Category.Name</a>
                                        <div class="listing-avatar">
                                            <a asp-action="index" asp-controller="author" asp-route-id="@item.UserId><img src="~/images/@item.User.Image" alt=""></a>
                                            <span class="avatar-tooltip">Added By  <strong>@item.User.Name @item.User.Surname</strong></span>
                                        </div>
                                        <h3><a asp-action="detail" asp-controller="listing" asp-route-id="@item.Id">@item.Name</a></h3>
                                        <p>@item.Description</p>
                                        <div class="geodir-category-options fl-wrap">
                                            <div class="listing-rating card-popup-rainingvis" data-starrating2="@rating">
                                                @* ortalamasi rating yazilmalidi *@
                                                <span>(@item.Review.Count reviews)</span>
                                            </div>
                                            <div class="geodir-category-location"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> @item.Address</a></div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        }


                        <!-- pagination-->
                        <div class="pagination">
                            <a class="page-item @(Model.CurrentPage <= 1 ? "disabled" : "")"><a class="page-link" asp-route-page="@(Model.CurrentPage -1)" asp-action="Index" asp-controller="Listing"><i class="fa fa-caret-left"></i></a></a>
                            @for (int i = 1; i <= Model.TotalPage; i++)
                            {
                                <a class="page-item @(Model.CurrentPage == i ? "disabled" : "")"><a asp-action="Index" asp-route-page="@i" asp-controller="Feature" class="page-link">@i</a></a>
                            }
                            <a class="page-item @(Model.CurrentPage >= Model.TotalPage ? "disabled" : "")"><a class="page-link" asp-route-page="@(Model.CurrentPage +1)" asp-action="Index" asp-controller="Listing"><i class="fa fa-caret-right"></i></a></a>

                        </div>
                    </div>
                    <!-- list-main-wrap end-->
                </div>
            </div>
        </section>
        <!--  section  end-->
        <div class="limit-box fl-wrap"></div>
        <!--  section  -->
        <!--  section  end-->
    </div>
    <!--  content  end-->
</div>
<!-- wrapper end -->